/* Keyframes */
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

body {
    background-color: #202020;
}
#dbz {
    display: none;
    height: 95px;
}

/* Link Hover Animations */
a {
    color: #ff8040;
    text-decoration: none !important;
    outline: none;
    cursor: pointer;
    -o-transition: .25s;
    -ms-transition: .25s;
    -moz-transition: .25s;
    -webkit-transition: .25s;
    transition: .25s;
}
a:hover {
    color: #b73c00;
    text-decoration: none !important;
}

.white {
    color: #fff;
}

/* Home Landing */
.landing {
    background-color: #ffbd95;
    -o-transition: .15s;
    -ms-transition: .15s;
    -moz-transition: .15s;
    -webkit-transition: .15s;
    transition: .15s;
}
.landing .logoDog {
    height: 100px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #873600;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: #DE0A0A;
}
input:focus + .slider {
    box-shadow: 0 0 1px #DE0A0A;
}
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}

/* Search */
.search {
    background-color: #623100;
    position: static;
    width: 100%;
    -o-transition: .15s;
    -ms-transition: .15s;
    -moz-transition: .15s;
    -webkit-transition: .15s;
    transition: .15s;
}
#addBtn:hover, #searchBtn:hover {
    color: #fff;
}
.roundInput {
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
}
.searchDrop {
    display: none;
    position: absolute;
    margin-top: 38px;
    background-color: #fff;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.1);
    border-radius: 20px;
    padding: 10px 18px;
}
.searchDropItem {
    cursor: pointer;
    -o-transition: .15s;
    -ms-transition: .15s;
    -moz-transition: .15s;
    -webkit-transition: .15s;
    transition: .15s;
}
.searchDropItem:hover {
    color: #ea7500;
    text-decoration: underline;
}

/* Pearson Results */
.pearsonResults {
    background-color: #fff;
}

/* SVD Results */
.svdResults {
    display: none;
    background-color: #fff;
}
.svd {
    display: none;
}
.svdResults h1 {
    font-size: 60px;
}

/* Footer */
.footer {
    background-color: #202020;
    color: #cfcfcf;
}