/* Keyframes */
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

body {
    background-color: #202020;
}

/* Link Hover Animations */
a {
    color: #ff8040;
    text-decoration: none !important;
    outline: none;
    cursor: pointer;
    -o-transition: .25s;
    -ms-transition: .25s;
    -moz-transition: .25s;
    -webkit-transition: .25s;
    transition: .25s;
}
a:hover {
    color: #b73c00;
    text-decoration: none !important;
}

.white {
    color: #fff;
}

/* Home Landing */
.landing {
    background-color: #ffbd95;
}
.landing .logoDog {
    height: 100px;
}

/* Search */
.search {
    background-color: #000;
    position: static;
    width: 100%;
}
/* #searchTxt, #addTxt {
    display: none;
    -webkit-animation: fadeIn .15s;
    -moz-animation: fadeIn .15s;
    -o-animation: fadeIn .15s;
    -ms-animation: fadeIn .15s;
    animation: fadeIn .15s;
}
#addBtn:hover #addTxt {
    display: inline;
    padding-right: 10px;
} */
#addBtn:hover, #searchBtn:hover {
    color: #fff;
}
.roundInput {
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
}


/* Results */
.results {
    background-color: #fff;
}

/* About */
.about {
    background-color: #fff;
}

/* Footer */
.footer {
    background-color: #202020;
    color: #cfcfcf;
}