<!DOCTYPE html>
<html>
    <head>
        <title>The Recommender</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/all.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.svg') }}">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#ffbd95">
    </head>
    <body>
        <div class="landing">
            <div class="d-flex">
                <div class="container">
                    <div class="text-center pt-5 pb-5">
                        <i class="fas fa-clipboard fa-5x pb-3"></i>
                        <h2 class="text-center">The Recommender</h2>
                        <p class="opacity-50">Singular Value Decomposition</p>
                        <!-- <p class="opacity-50">Using Stochastic Gradient Descent (SGD)</p> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="search">
            <div class="d-flex">
                <div class="container">
                    <div class="text-center pt-3 pb-3">
                        <form class="w-50 d-inline-flex">
                            <input type="text" class="form-control roundInput" placeholder="Where to start recommendation?">
                        </form>
                        <a href="javascript:{}" id="searchBtn" class="p-3"><i class="fas fa-search"></i></a>
                        <a href="javascript:{}" id="addBtn" class="p-3"><i class="fas fa-plus"></i><span id="addTxt"> Add Data</span></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="addModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modaltitle">Add Dataset Entry</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <input type="text" class="form-control roundInput mb-3" placeholder="Name">
                            <input type="text" class="form-control roundInput mb-3" placeholder="Product">
                            <label for="rating" class="form-label">Rating <span class="opacity-50"><span id="ratingNum">5</span>/10</span></label>
                            <input type="range" class="form-range" min="0" max="10" id="rating">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary">Add Entry</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="stickyAdjust"></div>

        <div class="results">
            <div class="d-flex">
                <div class="container">
                    <div class="pt-5 pb-5">
                        <table class="table">
                            <thead>
                                <tr>
                                    <td>Product ID</td>
                                    <td>Frequency</td>
                                    <td>Correlation</td>
                                </tr>
                            </thead>
                            <tbody id="dataResult">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="about">
            <div class="d-flex">
                <div class="container">
                    <div class="pt-5 pb-5"></div>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="d-flex">
                <div class="container">
                    <div class="pt-5 pb-5">
                        <p class="opacity-75"><a href="https://github.com/saiccoumar/Pinnacle2021"><i class="fab fa-github"></i></a></p>
                        <p class="opacity-75">Albert Lua, Sai Coumar, Jason Leong, Daniel Trager</p>
                        <p class="opacity-75">Project for <a href="https://pinnacle.us.org/">Pinnacle 2021</a></p>
                    </div>
                </div>
            </div>
        </div>

        <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>